@import 'sass-tests';

@include describe('Animation') {
  @include it('check Animation output') {
    @include assert {
      $arguments: ani 1s infinite;
      @include output {
        @include Animation($arguments);
      }
      @include expect {
        -webkit-animation: $arguments;
        -moz-animation: $arguments;
        -o-animation:$arguments;
        animation: $arguments;
      }
    }
  }

  @include it('check AnimationDelay output') {
    @include assert {
      $arguments: 1s;
      @include output {
        @include AnimationDelay($arguments);
      }
      @include expect {
        -webkit-animation-delay: $arguments;
        animation-delay: $arguments;
      }
    }
  }

  @include it('check AnimationDirection output') {
    @include assert {
      $arguments: normal;
      @include output {
        @include AnimationDirection($arguments);
      }
      @include expect {
        -webkit-animation-direction: $arguments;
        -moz-animation-direction: $arguments;
        animation-direction: $arguments;
      }
    }
  }

  @include it('check AnimationDuration output') {
    @include assert {
      $arguments: 1s;
      @include output {
        @include AnimationDuration($arguments);
      }
      @include expect {
        -webkit-animation-duration: $arguments;
        animation-duration: $arguments;
      }
    }
  }

  @include it('check AnimationFillMode output') {
    @include assert {
      $arguments: forwards;
      @include output {
        @include AnimationFillMode($arguments);
      }
      @include expect {
        -webkit-animation-fill-mode: $arguments;
        animation-fill-mode: $arguments;
      }
    }
  }

  @include it('check AnimationIterationCount output') {
    @include assert {
      $arguments: 2;
      @include output {
        @include AnimationIterationCount($arguments);
      }
      @include expect {
        -webkit-animation-iteration-count: $arguments;
        animation-iteration-count: $arguments;
      }
    }
  }

  @include it('check AnimationPlayState output') {
    @include assert {
      $arguments: running;
      @include output {
        @include AnimationPlayState($arguments);
      }
      @include expect {
        -webkit-animation-play-state: $arguments;
        animation-play-state: $arguments;
      }
    }
  }
}
