@import 'sass-tests';

@include describe('Background') {
  @include it('check BackgroundOpacity output') {
    @include assert {
      $Color: $background-color;
      $opacity: $opacity;
      $RGBColor: rgb(red($Color), green($Color), blue($Color));
      $RGBAColor: rgba(red($Color), green($Color), blue($Color), $opacity);
      @include output {
        @include BackgroundOpacity($Color, $opacity);
      }
      @include expect {
        background: $RGBColor;
        background: transparent\9;
        background: $RGBAColor;
      }
    }
  }

  @include it('check BackgroundSize output') {
    @include assert {
      $arguments: cover;
      @include output {
        @include BackgroundSize($arguments);
      }
      @include expect {
        -webkit-background-size: $arguments;
        -moz-background-size: $arguments;
        -ms-background-size: $arguments;
        -o-background-size: $arguments;
        background-size: $arguments;
      }
    }
  }

  @include it('check BackgroundClip output') {
    @include assert {
      $argument: $background-clip-type;
      @include output {
        @include BackgroundClip($argument);
      }
      @include expect {
        -moz-background-clip: $argument;
        -webkit-background-clip: $argument;
        background-clip: $argument;
      }
    }
  }

  @include it('check BackgroundPosition output') {
    @include assert {
      $X: 50%;
      $Y: 50%;
      @include output {
        @include BackgroundPosition($X, $Y);
      }
      @include expect {
        background-position-x: $X;
        background-position-y: $Y;
        background-position: $X $Y;
      }
    }
  }

  @include it('check BackgroundVisibility output') {
    @include assert {
      $arguments: visible;
      @include output {
        @include BackgroundVisibility($arguments);
      }
      @include expect {
        -webkit-backface-visibility: $arguments;
        backface-visibility: $arguments;
      }
    }
  }

  @include it('check BackgroundImage output') {
    @include assert {
      @include output {
        @include BackgroundImage('/test.img', '/testBig.img', 50px, 100px);
        @include BackgroundImage('/test.img');
      }
      @include expect {
        background-image: url('/test.img');
        -webkit-background-size: 50px 100px;
        -moz-background-size: 50px 100px;
        -ms-background-size: 50px 100px;
        -o-background-size: 50px 100px;
        background-size: 50px 100px;

        @media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
          background-image: url('/testBig.img');
          -webkit-background-size: 50px 100px;
          -moz-background-size: 50px 100px;
          -ms-background-size: 50px 100px;
          -o-background-size: 50px 100px;
          background-size: 50px 100px;
        }
        background-image: url('/test.img');
        -webkit-background-size: auto auto;
        -moz-background-size: auto auto;
        -ms-background-size: auto auto;
        -o-background-size: auto auto;
        background-size: auto auto;
      }
    }
  }


  @include it('check BackgroundIconSize output') {
    @include assert {
      @include output {
        @include BackgroundIconSize();
        @include BackgroundIconSize(50px, 100px);
      }
      @include expect {
        -webkit-background-size: auto auto;
        -moz-background-size: auto auto;
        -ms-background-size: auto auto;
        -o-background-size: auto auto;
        background-size: auto auto;
        @media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
          -webkit-background-size: auto auto;
          -moz-background-size: auto auto;
          -ms-background-size: auto auto;
          -o-background-size: auto auto;
          background-size: auto auto;
        }
        -webkit-background-size: 50px 100px;
        -moz-background-size: 50px 100px;
        -ms-background-size: 50px 100px;
        -o-background-size: 50px 100px;
        background-size: 50px 100px;
        @media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
          -webkit-background-size: 50px 100px;
          -moz-background-size: 50px 100px;
          -ms-background-size: 50px 100px;
          -o-background-size: 50px 100px;
          background-size: 50px 100px;
        }
      }
    }
  }

  @include it('check LinearGradient output') {
    @include assert {
      $arguments: 15deg, transparent 12%, #000000 88%, transparent 99%;
      @include output {
        @include LinearGradient($arguments);
      }
      @include expect {
        background: -webkit-gradient($arguments);
        background: -webkit-linear-gradient($arguments);
        background: -moz-linear-gradient($arguments);
        background: -ms-linear-gradient($arguments);
        background: -o-linear-gradient($arguments);
      }
    }
  }

  @include it('check GradientVertical output') {
    @include assert {
      $start-color: $gradient-start-color;
      $end-color: $gradient-end-color;
      @include output {
        @include GradientVertical($start-color, $end-color);
      }
      @include expect {
        background-color: $start-color;
        background: -webkit-gradient(linear, left top, left bottom, from($start-color), to($end-color));
        background: -webkit-linear-gradient(top, $start-color, $end-color);
        background: -moz-linear-gradient(top, $start-color, $end-color);
        background: -ms-linear-gradient(top, $start-color, $end-color);
        background: -o-linear-gradient(top, $start-color, $end-color);
      }
    }
  }

  @include it('check GradientHorizontal output') {
    @include assert {
      $start-color: $gradient-start-color;
      $end-color: $gradient-end-color;
      @include output {
        @include GradientHorizontal($start-color, $end-color);
      }
      @include expect {
        background-color: $start-color;
        background-image: -webkit-gradient(linear, left top, right top, from($start-color), to($end-color));
        background-image: -webkit-linear-gradient(left, $start-color, $end-color);
        background-image: -moz-linear-gradient(left, $start-color, $end-color);
        background-image: -ms-linear-gradient(left, $start-color, $end-color);
        background-image: -o-linear-gradient(left, $start-color, $end-color);
      }
    }
  }


}
