@import 'sass-tests';

@include describe('Flexbox') {
  @include it('check Flexbox output') {
    @include assert {
      $arguments: flex-grow;
      @include output {
        @include Flexbox($arguments);
      }
      @include expect {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-flex: $arguments;
        -moz-box-flex:  $arguments;
        -webkit-flex:  $arguments;
        -ms-flex:  $arguments;
        flex:  $arguments;
      }
    }
  }

  @include it('check FlexboxDisplay output') {
    @include assert {
      @include output {
        @include FlexboxDisplay();
      }
      @include expect {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
      }
    }
  }

  @include it('check FlexboxOrder output') {
    @include assert {
      $arguments: 1;
      @include output {
        @include FlexboxOrder($arguments);
      }
      @include expect {
        -webkit-box-ordinal-group: $arguments;
        -moz-box-ordinal-group: $arguments;
        -ms-flex-order: $arguments;
        -webkit-order: $arguments;
        order: $arguments;
      }
    }
  }
}
