@use 'sass-tests' as *;

@include true-describe('Flexbox') {
  @include true-it('check Flexbox output') {
    @include true-assert {
      $arguments: flex-grow;
      @include true-output {
        @include Flexbox($arguments);
      }
      @include true-expect {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-flex: $arguments;
        -moz-box-flex:  $arguments;
        -webkit-flex:  $arguments;
        -ms-flex:  $arguments;
        flex:  $arguments;
      }
    }
  }

  @include true-it('check FlexboxDisplay output') {
    @include true-assert {
      @include true-output {
        @include FlexboxDisplay();
      }
      @include true-expect {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
      }
    }
  }

  @include true-it('check FlexboxOrder output') {
    @include true-assert {
      $arguments: 1;
      @include true-output {
        @include FlexboxOrder($arguments);
      }
      @include true-expect {
        -webkit-box-ordinal-group: $arguments;
        -moz-box-ordinal-group: $arguments;
        -ms-flex-order: $arguments;
        -webkit-order: $arguments;
        order: $arguments;
      }
    }
  }
}