@import 'sass-tests';

@include describe('Fonts') {
  @include it('check FontSize output') {
    @include assert {
      @include output {
        @include FontSize(16);
        @include FontSize(16, true);
      }
      @include expect {
        font-size: 16px;
        font-size: 1rem;
        font-size: 16px !important;
        font-size: 1rem !important;
      }
    }
  }

  @include it('check LineHeight output') {
    @include assert {
      @include output {
        @include LineHeight(16);
        @include LineHeight(16, true);
      }
      @include expect {
        line-height: 16px;
        line-height: 1rem;
        line-height: 16px !important;
        line-height: 1rem !important;
      }
    }
  }

  @include it('check Text output') {
    @include assert {
      @include output {
        @include Text('Arial');
      }
      @include expect {
        font-family: 'Arial';
        font-size: 16px;
        font-size: 1rem;
        color: $color-black;
        font-style: $font-style;
        line-height: 16px;
        line-height: 1rem;
        text-transform: $text-transform;
        font-weight: $font-weight;
      }
    }
  }

  @include it('check Hyphens output') {
    @include assert {
      @include output {
        @include Hyphens();
      }
      @include expect {
        -ms-word-break: break-all;
        word-break: break-all;
        word-break: break-word;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;
      }
    }
  }
}
