@use 'sass-tests' as *;

@include true-describe('Forms') {
  @include true-it('check FormInputPlaceholder output') {
    @include true-assert {
      @include true-output {
        @include FormInputPlaceholder() {
          font-family: Arial;
        }
      }
      @include true-expect {
        &::-moz-placeholder {
          font-family: Arial;
        }
        &::-webkit-input-placeholder {
          font-family: Arial;
        }
        &:-ms-input-placeholder {
          font-family: Arial;
        }
        &::placeholder {
          font-family: Arial;
        }
      }
    }
  }

  @include true-it('check FormPlaceholderColor output') {
    @include true-assert {
      @include true-output {
        @include FormPlaceholderColor();

        @include FormPlaceholderColor(#FFFFFF);
      }
      @include true-expect {
        &::-moz-placeholder {
          color: #000000;
        }
        &::-webkit-input-placeholder {
          color: #000000;
        }
        &:-ms-input-placeholder {
          color: #000000;
        }
        &::placeholder {
          color: #000000;
        }

        &::-moz-placeholder {
          color: #FFFFFF;
        }
        &::-webkit-input-placeholder {
          color: #FFFFFF;
        }
        &:-ms-input-placeholder {
          color: #FFFFFF;
        }
        &::placeholder {
          color: #FFFFFF;
        }
      }
    }
  }
}