@import 'sass-tests';

@include describe('Helper') {
  @include it('check BoxSize output') {
    @include assert {
      @include output {
        @include BoxSize(100%, auto);
        @include BoxSize(100%);
        @include BoxSize(100%, auto, true);
        @include BoxSize(100%, 0, true);
      }
      @include expect {
        width: 100%;
        height: auto;
        width: 100%;
        height: 100%;
        width: 100% !important;
        height: auto !important;
        width: 100% !important;
        height: 100% !important;
      }
    }
  }

  @include it('check BoxSquare output') {
    @include assert {
      @include output {
        @include BoxSquare(100%);
        @include BoxSquare(95px);
        @include BoxSquare(100px, true);
      }
      @include expect {
        width: 100%;
        height: 100%;
        width: 95px;
        height: 95px;
        width: 100px !important;
        height: 100px !important;
      }
    }
  }

  @include it('check Height output') {
    @include assert {
      @include output {
        @include Height(95%);
        @include Height(95px);
      }
      @include expect {
        height: 95% !important;
        height: 95px !important;
      }
    }
  }

  @include it('check Width output') {
    @include assert {
      @include output {
        @include Width(95%);
        @include Width(95px);
      }
      @include expect {
        width: 95% !important;
        width: 95px !important;
      }
    }
  }

  @include it('check BoxShadow output') {
    @include assert {
      $arguments: 1px solid;
      @include output {
        @include BoxShadow($arguments);
      }
      @include expect {
        -webkit-box-shadow: $arguments;
        -moz-box-shadow: $arguments;
        box-shadow: $arguments;
      }
    }
  }

  @include it('check BoxShadowInset output') {
    @include assert {
      $offset-x: 3px;
      $offset-y: 3px;
      $blur-radius: 3px;
      $spread-radius: 3px;
      $color: $box-shadow-inset-color;
      @include output {
        @include BoxShadowInset($offset-x, $offset-y, $blur-radius, $spread-radius, $color);
      }
      @include expect {
        -webkit-box-shadow: inset $offset-x $offset-y $blur-radius $spread-radius $color;
        -moz-box-shadow: inset $offset-x $offset-y $blur-radius $spread-radius $color;
        box-shadow: inset $offset-x $offset-y $blur-radius $spread-radius $color;
      }
    }
  }

  @include it('check BoxRounded output') {
    @include assert {
      $radius: $box-rounded-radius;
      $argument: $background-clip-type;
      @include output {
        @include BoxRounded($radius);
      }
      @include expect {
        -webkit-border-radius: $radius;
        -moz-border-radius: $radius;
        border-radius: $radius;
        -moz-background-clip: $argument;
        -webkit-background-clip: $argument;
        background-clip: $argument;
      }
    }
  }

  @include it('check BoxRadius output') {
    @include assert {
      $top-right: 10px;
      $bottom-right: 10px;
      $bottom-left: 10px;
      $top-left: 10px;
      $argument: $background-clip-type;
      @include output {
        @include BoxRadius($top-right, $bottom-right, $bottom-left, $top-left);
      }
      @include expect {
        -webkit-border-top-right-radius: $top-right;
        -webkit-border-bottom-right-radius: $bottom-right;
        -webkit-border-bottom-left-radius: $bottom-left;
        -webkit-border-top-left-radius: $top-left;

        -moz-border-radius-topright: $top-right;
        -moz-border-radius-bottomright: $bottom-right;
        -moz-border-radius-bottomleft: $bottom-left;
        -moz-border-radius-topleft: $top-left;

        border-top-right-radius: $top-right;
        border-bottom-right-radius: $bottom-right;
        border-bottom-left-radius: $bottom-left;
        border-top-left-radius: $top-left;

        -moz-background-clip: $argument;
        -webkit-background-clip: $argument;
        background-clip: $argument;
      }
    }
  }

  @include it('check BoxSizing output') {
    @include assert {
      $Type: $box-sizing-type;
      @include output {
        @include BoxSizing($Type);
        @include BoxSizing($Type, true);
      }
      @include expect {
        -webkit-box-sizing: $Type;
        -moz-box-sizing: $Type;
        box-sizing: $Type;
        -webkit-box-sizing: $Type !important;
        -moz-box-sizing: $Type !important;
        box-sizing: $Type !important;
      }
    }
  }

  @include it('check OutlineBorder output') {
    @include assert {
      @include output {
        @include OutlineBorder();
      }
      @include expect {
        border: 0 none;
        outline: 0 none;
      }
    }
  }

  @include it('check MarginPadding output') {
    @include assert {
      @include output {
        @include MarginPadding(10px 0 0 0, 0 0 10px 0);
        @include MarginPadding(20px 0 0 0, 0 0 30px 0, true);
      }
      @include expect {
        margin: 10px 0 0 0;
        padding: 0 0 10px 0;
        margin: 20px 0 0 0 !important;
        padding: 0 0 30px 0 !important;
      }
    }
  }
  @include it('check Opacity output') {
    @include assert {
      $opacity: $opacity;
      @include output {
        @include Opacity($opacity);
      }
      @include expect {
        -moz-opacity: $opacity;
        -khtml-opacity: $opacity;
        -webkit-opacity: $opacity;
        opacity: $opacity;
      }
    }
  }
}
