@import 'sass-tests';

@include describe('Transform') {
  @include it('check Transform output') {
    @include assert {
      $arguments: rotate(20deg);
      @include output {
        @include Transform($arguments);
      }
      @include expect {
        -webkit-transform: $arguments;
        -moz-transform: $arguments;
        -ms-transform: $arguments;
        -o-transform: $arguments;
        transform: $arguments;
      }
    }
  }

  @include it('check TransformOrigin output') {
    @include assert {
      $x: center;
      $y: center;
      @include output {
        @include TransformOrigin($x, $y);
      }
      @include expect {
        -webkit-transform-origin: $x $y;
        -moz-transform-origin: $x $y;
        -ms-transform-origin: $x $y;
        -o-transform-origin: $x $y;
        transform-origin: $x $y;
      }
    }
  }

  @include it('check Perspective output') {
    @include assert {
      $value: 1000;
      @include output {
        @include Perspective($value);
      }
      @include expect {
        -webkit-perspective: $value;
        -moz-perspective: $value;
        -ms-perspective: $value;
        perspective: $value;
      }
    }
  }

  @include it('check Rotation output') {
    @include assert {
      $degree: $rotation-degree;
      @include output {
        @include Rotation($degree);
      }
      @include expect {
        -webkit-transform: rotate($degree);
        -moz-transform: rotate($degree);
        -ms-transform: rotate($degree);
        -o-transform: rotate($degree);
        transform: rotate($degree);
      }
    }
  }

  @include it('check Scale output') {
    @include assert {
      $ratio: $scale-ratio;
      @include output {
        @include Scale($ratio);
      }
      @include expect {
        -webkit-transform: scale($ratio);
        -moz-transform: scale($ratio);
        -ms-transform: scale($ratio);
        -o-transform: scale($ratio);
        transform: scale($ratio);
      }
    }
  }

  @include it('check Skew output') {
    @include assert {
      $rotation-degree: 15deg;
      $rotation-degree2: 45deg;
      @include output {
        @include Skew($rotation-degree, $rotation-degree2);
      }
      @include expect {
        -webkit-transform: skew($rotation-degree, $rotation-degree2);
        -moz-transform: skew($rotation-degree, $rotation-degree2);
        -ms-transform: skew($rotation-degree, $rotation-degree2);
        -o-transform: skew($rotation-degree, $rotation-degree2);
        transform: skew($rotation-degree, $rotation-degree2);
      }
    }
  }

  @include it('check Translate output') {
    @include assert {
      $x: 20;
      $y: 10;
      @include output {
        @include Translate($x, $y);
      }
      @include expect {
        -webkit-transform: translate($x, $y);
        -moz-transform: translate($x, $y);
        -ms-transform: translate($x, $y);
        -o-transform: translate($x, $y);
        transform: translate($x, $y);
      }
    }
  }

  @include it('check Translate3D output') {
    @include assert {
      $x: 20;
      $y: 10;
      $Z: 30;
      @include output {
        @include Translate3D($x, $y, $Z);
      }
      @include expect {
        -webkit-transform: translate($x, $y, $Z);
        -moz-transform: translate($x, $y, $Z);
        -ms-transform: translate($x, $y, $Z);
        -o-transform: translate($x, $y, $Z);
        transform: translate($x, $y, $Z);
      }
    }
  }
}
