@use 'sass-tests' as *;

@include true-describe('Transition') {
  @include true-it('check Transition output') {
    @include true-assert {
      $arguments: all $transition-duration $transition-ease;
      @include true-output {
        @include Transition($arguments);
      }
      @include true-expect {
        -webkit-transition: $arguments;
        -moz-transition: $arguments;
        -o-transition: $arguments;
        transition: $arguments;
      }
    }
  }

  @include true-it('check TransitionDuration output') {
    @include true-assert {
      $duration: $transition-duration;
      @include true-output {
        @include TransitionDuration($duration);
      }
      @include true-expect {
        -moz-transition-duration: $duration;
        -webkit-transition-duration: $duration;
        -o-transition-duration: $duration;
        transition-duration: $duration;
      }
    }
  }
}
