// File: CSSSassCollectionDefinitions.scss
// Author: Milanowicz


//################################
//##  Default Sass Definitions  ##
//################################

// Images for High Resolution
$high-dpi: "(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx)";

// Colors
$color-black: #000000;
$background-color: #cccccc;


// Fonts Style
$font-style: normal;
$text-transform: none;
$font-weight: normal;

$font-size: 16;
$line-height: 16;


// Box and etc defaults styles
$box-rounded-radius: 5px;
$box-sizing-type: border-box;
$box-shadow-inset-color: #ccc;
$background-clip-type: padding-box;
$gradient-start-color: #ccc;
$gradient-end-color: #fff;
$opacity: 0.5;
$rotation-degree: 5deg;
$scale-ratio: 1.5;
$transition-duration: 0.2s;
$transition-ease: ease-out;
